/*
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
margin-left: -30px;
}*/

.navbar-fixed-top{
font-size: 16px;
}

#datos{
background-color: #333;
}

.panel-default > .panel-heading, .panel:not([class*="panel-"]) > .title {
color: #fed136;
}

.form-group{
	/*font-size: 16px;*/
  font-family: "Roboto";
}

#message{
    padding: 20px;
    background-color: lightgray;
}

.form-group #name,#phone,#email{
	font-size: 14px;
  font-weight: bold;
  color: white;
}

#message{
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.tm {
color: #DAD71D;
}

.panel-body .btn-lg, .btn-md {
	background-color: #333;
	color: #fed136;
}

/*.map{
	margin: 0 auto;
}*/

.nearlyH input{
  text-align: center;
}

/*.google-maps {
    position: relative;
    padding-bottom: 48%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}*/

/*.form-group .google-maps iframe {	
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}*/

.nearlyH .btn-lg{

	width: 50%;
	margin: 0 auto;
}

.navbar-default .navbar-brand {
  /*font-family: "Roboto";
  color: #fed136;*/
  
}

@media(max-width: 768px){
  .navbar-default .navbar-brand {
    max-width:280px;
  }
  

  .navbar .navbar-brand {
    height: 50px;
    padding: 15px 15px;
  }
}


#sm{
  text-align: center;
  font-family: "Roboto";
}


/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 32px;
  padding-left: 20px;
}*/


.progress {
  height: 20px;
  border-radius: 3px;
}

.progress {
    height: 50px;
    width: 50px;
    margin: 50px auto;
}
.progress > svg {
    height: 100%;
    display: block;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  transform-origin: 50% 50%;
}

.rotating, .progress{
  background-color: white;
  margin: 0 auto;
  margin-bottom: 3.5%;
}

.btn-xl, .btn-lg{
  border-radius: 5px;
  background: rgba(0,0,0,.5);
}

.btn-md{
  border-radius: 5px;
  background: rgba(0,0,0,.6);
}


#expR{
  position: relative;
}

.city-button{
  position:absolute;
  float-right: 10px;
 
}

#dataH{
  padding-top: 1%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 2%;
}

#hotelMap{
  position: relative;
  margin: 0 auto;
  margin-right: 1%;
  width: 100%;
}

#showHotels{
  padding-bottom: 3%;
  padding-top: 6.5%;
}

.changeColour{
  font-family: Roboto;
  font-weight: bolder;
  font-size: 130%;
  color: #4B088A;
}

.panel-heading, .panel-title li{
  overflow:hidden;
  text-overflow:ellipsis;
}

.web{
  color: #009587;
}

.btn-lg, .btn-md{ /*to don`t collide with the shadow of button*/
  margin-bottom: 30px;
}

.geo:hover{
  background-color: lightgreen;
  -webkit-border-radius: 20px;
  border-radius: 5x;
  cursor: pointer;
}

.geo:hover img {
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
} 

@media(max-width:768px){
  section h2.section-heading{
    font-size: 26px;
  }

  section h3.section-subheading{
    font-size: 14px;
  }

   .btn-lg, .btn-md{
      padding: 5px 10px;
      font-size: 12px;
  }

  .search1{
    padding-right: 1px;
    padding-left: 1px;
  }
}

@media (min-width: 1200px){
    .container {
    width: 98%; /*zoom borders*/
  }
  .search1{
    padding-right: 1px;
    padding-left: 1px;
  }
}

.search1{
    padding-right: 1px;
    padding-left: 1px;
}

/*porcents style*/
#vertgraph {
  margin-left: 25%;
  margin-right: 25%;
}
#vertgraph .termTitle{
    margin: 0 !important;
    background: white !important;
    font-weight: bold; 
    color: #333; 
    line-height: 1.5em;
    font-style: bolder;
}

#vertgraph dd.critical {background: #d9534f !important; }
#vertgraph dd.high {background: #5cb85c !important; }
#vertgraph dd.medium {background: #f0ad4e !important; }

#vertgraph .termTitle{
  text-align: left;
  color: blue;
  font-size: 16px
}

#accordion{
  padding-left: 5px;
}

.fiveS{
  margin-top: 1.5%;
  font-style: bolder; 
  -webkit-transform:
  scale(4);
  -moz-transform:
  scale(4);
}

#rowExp{
  padding-top: 4%;
}

.aStat, .aExp{
  border: outset;
}

.list-inline b{
  padding-right: 20px;
}

.leftPanel{
  padding-top: 3.8%;
}

#successB, #successB1, #successB2, #successB3, #successB4, #divCollapse{
  padding-left: 5%;
  padding-right: 5%;
}